.filter-div{
    border-top: 1px solid var(--grey); 
/* above code for a horizontal line */
    padding: 0.5rem 1.5rem;
    display: flex;
    overflow-x: auto;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.links-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    opacity: 0.5;
    border-bottom: 1px solid var(--white);
    /* margin-right: 2rem; */
}

.links-box:hover, .selected-box{
    opacity: 1;
    border-bottom: 1px solid var(--black);
    transition: all 0.3s;
    cursor: pointer;
}
.links-img{
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
}

.links-label{
    font-size: 0.8rem;
    font-weight: 800;
    columns: var(--font-grey);
}

.selected-label{
    color: var(--black);
}

@media only screen and (max-width:800px){
    .filter-div{
        padding: 0.5rem;
        padding-top: 1.5rem;
    }
}